body {
  margin: auto;
  position: absolute;
  width: 626px;
  height: 339px;
  font-family: "Barriecito", system-ui;
  background: white;
  font-weight: 400;
  font-style: normal;
}

#container {
  position: absolute;
  width: 550px;
  height: 500px;
  left: 61px;
  top: 64px;
  background: #ffdc5e;
  border-radius: 2px;
  border-radius: 10px;
  border: 5px solid black;
}

h1 {
  width: 400px;
  height: 80px;
  left: 52px;
  top: 100px;
  text-shadow: 4px 2px 10px white;
  font-family: "Barriecito", system-ui;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
  padding-left: 30px;
  /* or 100% */

  letter-spacing: -0.05em;
  color: #ffa3a5;
}

#green-text {
  color: #10b981;
}

p {
  top: 220px;
  width: 490px;
  height: 28px;
  left: 30px;
  padding-left: 30px;
  padding-top: 20px;

  /* text-xl/leading-7/font-normal */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  /* identical to box height, or 140% */

  color: #black;
}

#underline {
}

#comment-box-text {
  color: gray;
}

#generate-random-comments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 17px 9px 15px;
  gap: 12px;
  box-shadow: 4px 2px 10px white;
  position: absolute;
  width: 191px;
  height: 42px;
  left: 170px;
  top: 430px;
  bottom: 224px;
  background: #ff86c8;
  border: none;
  border-radius: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

#generate-random-comments:hover {
  cursor: pointer;
}

hr {
  position: absolute;
  width: 446px;
  height: 0px;
  left: 52px;
  top: 310px;
  border: 1px solid #ffa3a5;
}

#password-1 {
  position: absolute;
  width: 500px;
  height: 60px;
  left: 10px;
  top: 340px;
  bottom: 115px;
  border-radius: 10px;
  padding: 0px 20px;
  margin: 5px 15px;
  background: white;
  //text
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 200% */
  text-align: left;
  color: black;
}

@media (max-width: 480px) {
  body {
    margin: 0px 0px 0px -50px;
    position: absolute;
    width: 320px;
    height: 300px;
  }
  #container {
    width: 90vw;
    height: 70vh;
  }
  h1,
  #green-text {
    font-size: 40px;
    line-height: 40px;
    padding-left: 20px;
    width: 80vw;
  }
  p {
    padding-left: 30px;
    padding-top: 0px;
    /* text-xl/leading-7/font-normal */
    font-size: 16px;
    line-height: 16px;
    width: 80vw;
    /* identical to box height, or 140% */
  }
  hr {
    width: 80vw;
    left: 15px;
    top: 265px;
  }
  #generate-random-comments {
    top: 400px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 16px;
    left: 70px;
    width: 40vw;
    align-items: center;
  }

  #password-1 {
    width: 80vw;
    height: 95px;
    left: 0px;
    top: 285px;
  }
}
